body{
    width: 98vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice{
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: 50px;
    display: flex;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choices i{
    color: white;
    font-size: xx-large;
}
.choice:hover{
    opacity: 50%;
}
.choices{
    display: flex;
    justify-content: center;
}
#paper{
    background-color: blue;
}
#rock{
    background-color: yellow;
}

.score{
    display: flex;
    justify-content: center;}

    
    #com_score{
        margin-left: 30px;
    }
    .my-score{
        margin-left: 100px;
    }
    #user_score{
        margin-left: 30px;
    }

    .heading{
        display: flex;
        justify-content: center;
    }